<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IBoardFileDao">
	<resultMap type="boardFile" id="boardFileMap">
		<id column="f_id" property="id" />
		<result column="origin_file_name" property="originFileName" />
		<result column="size" property="size" />
		<result column="uri" property="uri" />
	</resultMap>
	<insert id="insertBoardFile" parameterType="boardFile"
		useGeneratedKeys="true" keyProperty="id">
		insert into boardfile
		values(0,
		#{originFileName}, #{size}, #{uri})
	</insert>

	<update id="updateBoardFile" parameterType="boardFile">
		update boardfile set
		origin_file_name = #{originFileName},
		size = #{size}, uri = #{uri}
		where f_id = #{id}
	</update>
	<delete id="deleteBoardFile" parameterType="int">
		delete from boardfile
		where f_id = #{id}
	</delete>


	<delete id="deleteBoardFileBybId" parameterType="int">
		delete from boardfile where b_id = #{bid}
	</delete>
	<select id="selectOne" parameterType="int" resultMap="boardFileMap">
		select *
		from boardfile where f_id = #{id}
	</select>
	<select id="selectAll" resultMap="boardFileMap">
		select * from boardfile
	</select>





</mapper>